* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

body{
    background-image: url(assets/22.jpg);
}

nav {
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 50px;
}

nav li{
    display: inline-block;
}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px 26px;
}

nav a:hover{
    color: black;
}
button{
    margin: 10px;
    border-radius: 25px;
    background-color: black;
    border: none;
}

button:hover{
    background-color: white;
    border: solid none;
}

.blogSection{
    display: flex;
}

.blog{
    margin:50px;
    padding: 10px;
    width: 500px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255);
    color: black;
    box-shadow: 20px 20px 50px 15px grey;
}

.blog:hover{
    transform: scale(102%);
    transition: 100ms ease-in-out;
    background-color: whitesmoke;
    color: black;
    box-shadow: none;
}

#b1{
    background-color: rgb(0, 0, 0);
    color: white;
}
#b1:hover{
    background-color: black;
    color: whitesmoke;
}


footer{
    margin-top: 130px;
    text-align: center;
}

footer i{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

footer i:hover{
    transform:scale(150%)
}

footer i:active{
    transform: scale(75%);
}